<!DOCTYPE html>
<head>


  <!-- MetaData -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>IDTECH BER-TLV DataBase</title>
  <meta name="author" content="ID Tech Products">
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->


  <!-- StyleSheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" type="text/css">
  <link rel="stylesheet" href="css/idtTheme.css" type="text/css">


  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <script src="js/tlv.js" type="text/javascript"></script>    
  <script src="js/idt-tlvDB.js" type="text/javascript"></script>
  <script src="js/idt-tlv.js" type="text/javascript"></script>
  


</head>
<body>


  <!-- Navigation -->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="http://www.idtechproducts.com/templates/idtech/images/logo.png"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="index.html">All TLV</a></li>
       </ul>
     </div>
  </nav>


  <!-- TODO: Add sortability -->

 <div id="default-container" class="container">

   <h1>Primitive TLVs</h1>

   <table class="bordered striped highlight centered">
       <thead>
         <tr>
             <th data-field="tag">Tag</th>
             <th data-field="name">Name</th>
             <th data-field="format">Format</th>             
             <th data-field="length">Length</th>
             <th data-field="description">Description</th>
             <th data-field="comments">Comments</th>
             <th data-field="default">Default Value</th>             
             <th data-field="detailed">Detailed Information</th>
         </tr>
       </thead>

       <tbody id="tlv-table-primitive">
       </tbody>
     </table>
          

</div>

  <!-- Footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"> ID TECH</h5>
            <p class="grey-text text-lighten-4">Value through Innovation.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://www.idtechproducts.com/">IDTech Products</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">© 2017 ID Tech Products
      </div>
    </div>
  </footer>

</body>
</html>
